.header {
    width: auto;
    height: auto;
    background-color: black;
    color: orangered;
    font-size: 150%;
    text-align: center;
    line-height: 20px;
    padding: 3px;
    margin: 1.5px;
    font-family: verdana;
    vertical-align: center;
    border-radius: 25px;
}
.header_container {
    width: 95%;
    height: auto;
    padding: 3px;
    margin: 3px;
    background-color: brown;
    border-radius: 25px;
}
.body_main {
    color: grey;
    width: auto;
    overflow: hidden;
    background-color: black;
    font-size: 100%;
    text-align: center;
    line-height: 20px;
    padding: 3px;
    margin: 1.5px;
    font-family: verdana;
    vertical-align: center;
    border-radius: 25px;
}
.body_main i {
    color: greenyellow;
}
.body_container {
    width: 95%;
    overflow: hidden;
    padding: 3px;
    margin: 3px;
    background-color: orangered;
    align-self: center;
    border-radius: 25px;
}
.footer a:visited {
    color: black;
}
.footer {
    overflow: hidden;
    position: absolute;
    left: 1;
    bottom: 0;
    width: 40%;
    height: 12%;
    max-width: 40%;
    max-height: 20%;
    border-color: rgb(53, 53, 53) rgb(53, 53, 53) black black;
    border-width: 3px;
}
.footer_main {
    float: left;
    width: 100%;
    height: 100%;
    color: black;
    padding: 3px;
    margin: 3px;
    font-size: 120%;
    overflow: hidden;
}
.footer_main img {
    width: 35%;
    float: right;
}

.header a:link {
    text-decoration: none;
    color: orangered;
}
.header a:visited {
    text-decoration: none;
    color: orangered;
}
.header a:hover {
    text-decoration: none;
    color: orangered;
}
.header a:active {
    text-decoration: none;
    color: orangered;
}
.page {
    background-color: gray; 
}
