.body_pages_links_body {
    width: auto;
    height: auto;
    background-color: black;
    color: orangered;
    font-size: 140%;
    text-align: center;
    line-height: 20px;
    padding: 3px;
    margin: 1.5px;
    font-family: verdana;
    vertical-align: center;
    border-radius: 0px 0px 25px 25px;
    overflow: hidden;
}
.body_pages_links_header {
    width: auto;
    height: auto;
    background-color: black;
    color: orangered;
    font-size: 120%;
    text-align: center;
    line-height: auto;
    padding: 1px;
    margin: 1.5px;
    font-family: verdana;
    vertical-align: center;
    border-radius: 25px 25px 0px 0px;
}
.body_pages_links_container {
    position: relative;
    float: left;
    width: 48%;
    height: auto;
    padding: 3px;
    margin: 3px;
    background-color: orangered;
    border-radius: 25px;
    
}
.body_pages_planned_body {
    width: auto;
    height: auto;
    background-color: black;
    color: orangered;
    font-size: 100%;
    text-align: center;
    line-height: 20px;
    padding: 3px;
    margin: 1.5px;
    font-family: verdana;
    vertical-align: center;
    border-radius: 0px 0px 25px 25px;
}
.body_pages_planned_header {
    width: auto;
    height: auto;
    background-color: black;
    color: orangered;
    font-size: 120%;
    text-align: center;
    line-height: auto;
    padding: 1px;
    margin: 1.5px;
    font-family: verdana;
    vertical-align: center;
    border-radius: 25px 25px 0px 0px;
}
.body_pages_planned_container {
    position: relative;
    float: right;
    width: 48%;
    height: auto;
    padding: 3px;
    margin: 3px;
    background-color: orangered;
    border-radius: 25px;
}
.pages_link {
    width: auto;
    height: auto;
    background-color: rgb(53, 53, 53);
    color: orangered;
    font-size: 120%;
    text-align: center;
    line-height: 110%;
    padding: 1px;
    margin: auto;
    font-family: verdana;
    vertical-align: center;
    border-radius: 25px;
    font-weight: bold
}
.pages_link_container {
    width: 48%;
    height: auto;
    padding: 3px;
    margin: 3px;
    background-color: orangered;
    border-radius: 25px;
    overflow: hidden;
}
.pages_link_container a {
    text-decoration: none;
}
.pages_link_container #testarea {
    position: relative;
    float: left;
}